<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>404页面</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<style>
			body{
				background:url('/images/404.jpg') no-repeat;
				background-size:100% 100%;
				background-attachment:fixed;
			}
		</style>
	</head>
	<body>
	</body>
</html>