<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>注册</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/stylesheets/login.css">
		<link rel="stylesheet" href="/stylesheets/register.css">
	</head>
	<body>
		<div class="con">
			<form class="myForm">
			    <div class="user-wrap">
			      <input type="text" name="user" placeholder="用户名">
			      <!-- <span class="left">用户名</span> -->
			    </div>
			    <div class="warn exist">用户名已存在</div>
			    <div class="warn input-check">用户名不能为空</div>
			    <div class="pass-wrap">
			      <input type="password" name="pass" placeholder="密码">
			      <!-- <span class="left">密码</span> -->
			      
			    </div>
			    <div class="warn input-check">密码不能为空</div>
			    <div class="pass-wrap confirm-pass">
			      <input type="password" name="repass" placeholder="确认密码">
			      <!-- <span class="left">确认密码</span> -->
			      
			    </div>
			    <div class="warn input-check">确认密码不能为空</div>
			    <div class="warn pass-check">两次密码不匹配</div>
			    <!-- <div class="tips-error">
			    				    <div class="warn">用户名不正确</div>
			    </div> -->
			    <span class="login"/>立即注册</span>
			    <a class="return" onclick="window.history.back()">返回</a>
			</form>
		</div>
		<div class="success">
			<img src="images/success.png" alt="成功">
			<span>注册成功</span>
		</div>
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/login.js"></script>
		<script src="/javascripts/register.js"></script>
	</body>
</html>